###### Requirements without Version Specifiers ######
## if you have a GPU comment line below and uncomment line under 
tensorflow
# tensorflow-gpu
matplotlib
numpy
opencv-python
keras
scikit-learn
scikit-image